

<div class="main">
<center>
     <div class="hexagon">
  <div class="hexTop"></div>
  <div class="hexBottom"></div>
</div></a>
   
  

  <p>
  Hi! My name is Ashleigh. I am a programmer based in Toronto. </center>
  </main>
  