

<div class="main">
 <h1> Hi! My name is Ashleigh.</h1>
   
   <div class="hexagon" style='float: right;'>
  <div class="hexTop"></div>
  <div class="hexBottom"></div>
</div>
  

  <p>
  I am a programmer based in Toronto. </center>
  </main>
  