
  <div class="about">

  <ul id="categories" class="clr">
 
 <li class="pusher"></li>
  <li>      <div>
        <img src="http://i57.tinypic.com/2ly32w6.jpg" alt=""/>
        <h1>Yoho!</h1>
       <!--  <p>Some sample text about the article this hexagon leads to</p> -->
    </div>
  </li> </ul> <p>

  <center>

  <p>
  Hi! My name is Ashleigh. I am a programmer based in Toronto. </center>
  </main>