

 <div class="cbp-af-header">
  <div class="cbp-af-inner">
    <h1>ASHLEIGH</font> <font color=#f6f6f6>/</font> <font color=#fbe2d4>ALMEIDA</font></h1>
    

    <div class="nav">

Click

  </div>
</div>



<div class="sidebar">
</div>

<div class="main">




</div>

<!-- 
<div class="container">
  <ol class="even">
    <li class='hex'></li>
    <li class='hex'></li>
  </ol>  
  <ol class="odd">
    <li class='hex'></li>
    <li class='hex'></li>
    <li class='hex'></li>
  </ol>
  <ol class="even">
    <li class='hex'></li>
    <li class='hex'></li>
  </ol>  
</div>


</div> -->
<!--  -->



