

<div class="main">
<div id="child">
<h1> WEB DEVELOPMENT  </h1> 
<center>
<img src=http://i58.tinypic.com/2ueh6s4.png> <p>
<h3>Clean. Responsive. Elegant.</h3>

</center>
</div>
</div>
<div class="fade"></div>

<!-- 
<div class="container">
  <ol class="even">
    <li class='hex'></li>
    <li class='hex'></li>
  </ol>  
  <ol class="odd">
    <li class='hex'></li>
    <li class='hex'></li>
    <li class='hex'></li>
  </ol>
  <ol class="even">
    <li class='hex'></li>
    <li class='hex'></li>
  </ol>  
</div>


</div> -->
<!--  -->



