

 <div class="cbp-af-header">
  <div class="cbp-af-inner">
    <h1>ASHLEIGH</font> <font color=#f6f6f6>/</font> <font color=#fbe2d4>ALMEIDA</font></h1>
    

    <div class="nav">
<nav>
Click
</nav>

  </div>



<div class="sidebar">
   <div class="nav">
<nav>
<a href=#>X</a>
</nav>
<div class="sidenav">
<a href=#>ABOUT</a> <!-- <img src=http://i57.tinypic.com/34inz3o.png> --> <p>
<a href=#>WORK</a> <!-- <img src=http://i61.tinypic.com/291km10.png><p> --> <p>
<a href=#>CONTACT</a><!--  <img src=http://i62.tinypic.com/65py6r.png><p> --><p>
<!-- <a href=#>SOCIAL</a> <img src=http://i62.tinypic.com/347h4cy.png> -->

</div>

  </div>
</div>
</div>
</div>
</div>

<div class="main">
<h1> WEB DEVELOPMENT </h1> 
<center>
<img src=http://i58.tinypic.com/2ueh6s4.png> <p>
<strong>Clean. Responsive. Elegant.</strong>

<center>
</div>

<div class="fade"></div>

<!-- 
<div class="container">
  <ol class="even">
    <li class='hex'></li>
    <li class='hex'></li>
  </ol>  
  <ol class="odd">
    <li class='hex'></li>
    <li class='hex'></li>
    <li class='hex'></li>
  </ol>
  <ol class="even">
    <li class='hex'></li>
    <li class='hex'></li>
  </ol>  
</div>


</div> -->
<!--  -->



