<div class="wrapper">
    <div id="top"></div>
    <section class="gallery">
        <div class="row">
            <ul>
                <li> <a href="#item01">
          <img src="http://i57.tinypic.com/121c48x.png" alt="">
        </a>

                </li>
                <li> <a href="#item02">
           <img src="http://i62.tinypic.com/wqoa6h.jpg" alt="">
      </li>

      <li>
        <a href="#item02">
           <img src="http://i62.tinypic.com/wqoa6h.jpg" alt="">
        </a>

                </li>
                <li> <a class="image" href="#item02">
          <img src="http://i62.tinypic.com/wqoa6h.jpg" alt="">
        </a>

                </li>
                <li> <a class="image" href="#item02">
            <img src="http://i62.tinypic.com/wqoa6h.jpg" alt="">
        </a>

                </li>
                <li> <a class="image" href="#item02">
         <img src="http://i62.tinypic.com/wqoa6h.jpg" alt="">
        </a>

                </li>
                <li> <a class="image" href="#item02">
          <img src="http://i62.tinypic.com/wqoa6h.jpg" alt="">
        </a>

                </li>
                <li> <a class="image" href="#item02">
          <img src="http://i62.tinypic.com/wqoa6h.jpg" alt="">
        </a>

                </li>
            </ul>
        </div>
        <!-- / row -->
    </section>
</div>
<!-- Item 01 -->
<div id="item01" class="port">
    <div class="row">
        <div class="description">
             <h1>Photogur</h1>

            <p>Photogur is a minimal, slick platform that allows users to upload photos through a drag and drop method. Users can maintain a photo gallery upon signup and login.</p>
             <h2>Built in Ruby on Rails, Jquery, SCSS and Bootstrap.</h2>

            <p>
                 <A href="http://photoguraa.herokuapp.com" target="blank">Click to view app</A></p>
      </div>

       <img src="http://i60.tinypic.com/2hztr2u.png" alt=""> <div class="close"></div> 
      </div>
    </div> <!-- / row -->

  </div> <!-- / Item 02 -->

  <!-- Item 02 -->
  <div id="item02" class="port">

  
    <div class="row">
      <div class="description">
        <h1>Coming soon</h1>
        <p></p>
      </div>
     <img src="http://i62.tinypic.com/wqoa6h.jpg" alt="">  <div class="close"></div> 
    </div> <!-- / row -->

  </div> <!-- / Item 02 -->

 <!-- / projects -->


</div>