<div class="main">
<div id="child">
<h1>Work</h1>
Click on hex to expand. <p>


  <ul id="categories" class="clr">
 
  <li>      <div>
        <img src="http://i57.tinypic.com/2ly32w6.jpg" alt=""/>
        <h1>Yoho!</h1>
       <!--  <p>Some sample text about the article this hexagon leads to</p> -->
    </div></li> 
    <li>
      <div>
        <img src="http://i57.tinypic.com/2ly32w6.jpg" alt=""/>
        <h1>Yoho!</h1>
       <!--  <p>Some sample text about the article this hexagon leads to</p> -->
    </div></li>
    <li>
      <div>
        <img src="http://i57.tinypic.com/2ly32w6.jpg" alt=""/>
        <h1>Yoho!</h1>
       <!--  <p>Some sample text about the article this hexagon leads to</p> -->
    </div></li>
    <li>
      <div>
        <img src="http://i57.tinypic.com/2ly32w6.jpg" alt=""/>
        <h1>Yoho!</h1>
       <!--  <p>Some sample text about the article this hexagon leads to</p> -->
    </div></li>
    <li>
      <div>
        <img src="http://i57.tinypic.com/2ly32w6.jpg" alt=""/>
        <h1>Yoho!</h1>
       <!--  <p>Some sample text about the article this hexagon leads to</p> -->
    </div></li> 
   </ul>
</div>
      <div>
     </div>