/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// @import "compass/css3";


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url('http://fonts.googleapis.com/css?family=Lato:100');

.hidden { display: none; }

$hex-size: 4.5em;



html, body {
  font-size: 1.5em;
  font-family: 'futura', 'helvetica';
  background: linear-gradient(to bottom right,rgba(212, 237, 251, 0.8), rgba(000, 000, 000, 0.9)), url("http://i.imgur.com/63AWW.jpg") no-repeat bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width:100%;
  height:100%;
  overflow: hidden;
  position: absolute;
  display:flex;
}

.fade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.5; 
}

.fade { display: none; }

.header {
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  background:url("http://www.julie-lavergne.com/img/common/trame.png");
  position: fixed;
  z-index: 10000;
  height: 60px;
  overflow: hidden;
  background-attachment: no-repeat;
}

.header h1 {
  text-transform: uppercase;
  color: #333;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0;
  float: left;
  position:relative;
  display:block;
  padding-right: 34px;
  margin: 17px;
  left:50px;
}

.header nav {
  float: right;
  margin: 10px;
  margin-left: 50px;
  position: relative;
  margin-right: 50px ;
 }

.sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-attachment: scroll;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  position:fixed;
  background-color: #dafaea;
  z-index:1000;
  background:
  linear-gradient(to bottom right,rgba(182, 232, 230, 0.9), rgba(251, 226, 212, 0.9)), 
  url('http://i60.tinypic.com/21ke9u9.gif') no-repeat center center;
  background-size: cover; 
  -moz-box-shadow:    10px 10px 10px 8px #424242;
  -webkit-box-shadow: 10px 10px 10px 8px  #424242;
  box-shadow:         10px 10px 10px 8px  #424242;
  // transform: translate(-50%, -50%);
  position:fixed;
  display: flex;
 }


.sidebar a {
  font-family: 'lato';
font-size: 2.5vmax;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  letter-spacing: 5px;
  text-decoration: none;
  padding: 5%;
  hover: #000000;
  width: auto; 
}

.sidebar a:hover {
  transition: all 0.5s ease-in-out;
  padding-left: 30px;
  font-weight: 600;
  font-family: 'Open Sans';
}

.sidenav {
  top: 30%;
  position: absolute;
  z-index:1;

}

.sidebar { display: none; }


.main {
  font-family: 'lato';
  color: #ffffff;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  padding: 1.2em;
  font-size: .5em;
  border-bottom: 2px solid #ffffff;
  background:url("http://www.julie-lavergne.com/img/common/trame.png");
}

body index .main {
    display: none;
}

.main img {
  width: auto;
  height: auto;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  padding: 1.2em;
  font-size: .7em;
}


.flex-item {
  margin: auto;
  display: flex;
  overflow:auto;
}

.landingcontainer {
-webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

  display: flex;
 
  margin: 0 auto;
  
    height: auto;
    max-width: 40%;
  border-bottom: 2px solid white;
 font-family: 'lato';
  letter-spacing:5px;
 color: #ffffff;
 font-size: 0%;
 overflow:hidden;
 }

.container {
-webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

  display: flex;
 
  margin: 0 auto;
  margin-top: 7%;

    height: 500px;
    width: 30%;
  
  border-bottom: 2px solid white;
background:url("http://www.julie-lavergne.com/img/common/trame.png")   ;
 font-family: 'lato';
  letter-spacing:5px;
 color: #ffffff;
 font-size: 50%;
    

  }


// .container {
//   width: 1000px; 
//   line-height: 1.3;
// }
// ol.even {
//   position: relative;
//   left: ($hex-size / 1.1);
// }
// ol.odd {
//   position: relative;
//   margin-top: -6.5%;
//   margin-bottom: -6.5%;
// }
// .hex {
//   position: relative;
//   margin: 1em auto;
//   width: $hex-size; height: ($hex-size * 1.7);
//   border-radius: 1em/.5em;
//   background: #ccc;
//   transform: rotate(-90deg);
//   display: inline-block;
//   margin-right: ($hex-size / 1.30);
//   transition: all 150ms ease-in-out;
//   background: url('http://i57.tinypic.com/2ly32w6.jpg') center no-repeat;
// }
// .hex:before, .hex:after {
//   position: absolute;
//   width: inherit; height: inherit;
//   border-radius: inherit;
//   background: inherit;
//   content: '';
// }
// .hex:before {
//   transform: rotate(60deg);
// }
// .hex:after {
//   transform: rotate(-60deg);
// }
// .hex:hover {
//   background: #F58787;
//   cursor: pointer;
// }

#categories{
  overflow:hidden;
  width:120%;
  margin:0 auto;
position:relative;


}
.clr:after{
  content:"";
  display:block;
  clear:both;
}

#categories li{
  position:relative;
  list-style-type:none;
  width:27.85714285714286%; /* = (100-2.5) / 3.5 */
  padding-bottom: 32.16760145166612%; /* =  width /0.866 */
  float:left;
  overflow:hidden;
  visibility:hidden;
  right: 10%;
 display:block;
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(3n+2){
  margin:0 1%;
}
#categories li:nth-child(6n+4){
  margin-left:0.5%;
}
#categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
  margin-bottom:0%;
}
#categories li *{
  position:absolute;
  visibility:visible;
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  
  -webkit-backface-visibility:hidden;
  
}

/* HEX CONTENT */
#categories li img{
  left:-100%; right:-100%;
  width: auto; height:100%;
  margin:0 auto;   
}

#categories div h1, #categories div p{
  width:200%;
  padding:0 5%;
  background-color:#008080; background-color: rgba(0, 128, 128, 0.8);
  font-family: 'Roboto', sans-serif;
  
  -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h1{
  bottom:110%;
  font-weight:normal;
  font-size:1.5em;
  padding-top:100%;
  padding-bottom:100%;
}
#categories li h1:after{
  content:'';
  display:block;
  position:absolute;
  bottom:-1px; left:45%;
  width:10%;
  text-align:center;
  z-index:1;
  border-bottom:2px solid #fff;
}
#categories li p{
  padding-top:50%;
  top:110%;
  padding-bottom:50%;
}


/* HOVER EFFECT  */

#categories li div:hover h1 {
  bottom:50%;
  padding-bottom:10%;
}

#categories li div:hover p{
  top:50%;
  padding-top:10%;
}

.contact input, textarea {
  padding: 5px;
  width: 342px;
  font-family: 'Helvetica';
  font-size:14px;
  font-weight:300;
  color:#fff;
  background-color:transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;

  
  margin-bottom:15px;
}

.contact textarea {
  height: 100px;
}

::-webkit-input-placeholder { 
    color:    #ffffff;

}





