/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// @import "compass/css3";


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url('http://fonts.googleapis.com/css?family=Lato:100');

.hidden { display: none; }

.fade { display: none; }


$hex-size: 4.5em;



html, body {
  font-size: 1.5em;
  font-family: 'lato';
  background: linear-gradient(to bottom right,rgba(212, 237, 251, 0.8), rgba(000, 000, 000, 0.9)), url("http://i.imgur.com/63AWW.jpg") no-repeat bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width:100%;
  height:100%;
  overflow: hidden;
  position: absolute;
  display:flex;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}


.burger {
  position: absolute;
  z-index: 10;
  right: 50px;
  top: 15px;
  cursor: pointer;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: white;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
      -ms-transform: rotate(45deg) translate(4px, 4px);
          transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
      -ms-transform: rotate(-45deg) translate(5px, -4px);
          transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;


}

.menu h2 {
  color:#fbe2d4;
 background:url("http://www.julie-lavergne.com/img/common/trame.png");
 padding: 15px;



}

.menu small {
  font-size: 13px;
  color: #ffffff;
}

.menu--active {
  visibility: visible;
}
.menu__brand, .menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
   font-family: 'lato';
   font-size: 20px;
   color: #ffffff;

}
.menu__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__brand {
  
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__item {
  -webkit-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  position: relative;
   font-family: 'lato';
  font-size: 30px;
  padding: 15px 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 2px;
  background: white;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
  width: 100%;
}
.menu .menu__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

@media screen and (max-width: 768px) {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .menu__list {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu__brand .logo {
    width: 90px;
    height: 90px;
  }
}


.hexagon {
  position: relative;
  width: 200px; 
  height: 115.47px;
  margin: 57.74px 0;
  background-image: url(http://i57.tinypic.com/2ly32w6.jpg) ;
  background-size: auto 230.9401px;
  background-position: center;
   backface-visibility: hidden;
   

}

.hexagon:hover {
  background: #000000;
  opacity: 0.6;
  

}


.hexagon:hover:after {
  text-align: center;
  line-height: 27px;
  content: 'This portfolio was coded with ♡ in Rails, SCSS, HAML, Vanilla JS, and Jquery.';
  position: center;
  font-size: 17px;
  // background: #000000;
  // opacity: 0.6;
  
    
}



.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 29.29px;
    backface-visibility: hidden;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 200.0000px;
  height: 115.47005383792516px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
     backface-visibility: hidden;
}

.hexTop {
  top: -70.7107px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -70.7107px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 200.0000px;
  height: 115.4701px;
  z-index: 2;
  background: inherit;
}

.support {
  position: fixed;
  bottom: 24px;
  color: rgba(0, 0, 0, 0.6);
}




.header {
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  background:url("http://www.julie-lavergne.com/img/common/trame.png");
  position: fixed;
  z-index: 5;
  height: 60px;

  
  background-attachment: no-repeat;
}

.header h1 {
  text-transform: uppercase;
  color: #333;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0;
  float: left;
  position:relative;
  display:block;
  padding-right: 34px;
  margin: 17px;
  left:50px;
  font-family: 'futura'
}

.header nav {
  float: right;
  margin: 10px;
  margin-left: 50px;
  position: relative;
  margin-right: 50px ;
 }

.sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-attachment: scroll;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  position:fixed;
  background-color: #dafaea;
  z-index:1000;
  background:
  linear-gradient(to bottom right,rgba(182, 232, 230, 0.9), rgba(251, 226, 212, 0.9)), 
  url('http://i60.tinypic.com/21ke9u9.gif') no-repeat center center;
  background-size: cover; 
  -moz-box-shadow:    10px 10px 10px 8px #424242;
  -webkit-box-shadow: 10px 10px 10px 8px  #424242;
  box-shadow:         10px 10px 10px 8px  #424242;
  // transform: translate(-50%, -50%);
  position:fixed;
  display: flex;
 }


.sidebar a {
  font-family: 'lato';
font-size: 2.5vmax;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  letter-spacing: 5px;
  text-decoration: none;
  padding: 5%;
  hover: #000000;
  width: auto; 
}

.sidebar a:hover {
  transition: all 0.5s ease-in-out;
  padding-left: 30px;
  font-weight: 600;
  font-family: 'Open Sans';
}

.sidenav {
  top: 30%;
  position: absolute;
  z-index:1;

}

.sidebar { display: none; }


.main {
  font-family: 'lato';
  color: #ffffff;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.2em;
  font-size: .5em;
  border-bottom: 2px solid #ffffff;
  // background:url("http://www.julie-lavergne.com/img/common/trame.png");
}

body index .main {
    display: none;
}

.main img {
  width: auto;
  height: auto;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  padding: 1.2em;
  font-size: .7em;
}


.flex-item {
  margin: auto;
  display: flex;
  overflow:auto;
}

.landingcontainer {
-webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

  display: flex;
 
  margin: 0 auto;
  
    height: auto;
    max-width: 40%;
  border-bottom: 2px solid white;
 font-family: 'lato';
  letter-spacing:5px;
 color: #ffffff;
 font-size: 0%;
 overflow:hidden;
 }

.container {
-webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

  display: flex;
 
  margin: 0 auto;
  margin-top: 7%;

    height: 500px;
    width: 30%;
  
  border-bottom: 2px solid white;
// background:url("http://www.julie-lavergne.com/img/common/trame.png")   ;
 font-family: 'lato';
  letter-spacing:5px;
 color: #ffffff;
 font-size: 50%;
    

  }

.fade {
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding:0;
    margin:0;
    border:0;
    position:absolute;
    overflow:hidden;
    left:0px;
    top:0px;
    
}


.contact input, textarea {
  padding: 5px;
  width: 342px;
  font-family: 'Helvetica';
  font-size:14px;
  font-weight:300;
  color:#fff;
  background-color:transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;

  
  margin-bottom:15px;
}

.contact textarea {
  height: 100px;
}

::-webkit-input-placeholder { 
    color:    #ffffff;

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}
.row img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  // z-index: 1000;
  position: static;
}
.gallery ul li {
  float: left;
  margin: 0 0.87719%;
}
.gallery {
  margin: 0 auto;
  overflow: hidden;
  padding-right: 60px;
}
.gallery ul {

  position: relative;
}
.gallery ul li {
  margin-bottom: 20px;
  width: 23.24561%;
  position: relative;
  list-style: none;
}
.gallery ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.gallery ul li a:before {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 40%;
  left: 50%;
  margin: -14px 0 0 -16px;
  background: url('http://i58.tinypic.com/aowbw8.png') no-repeat;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.gallery ul li a:hover:before {
  top: 50%;
  opacity: 1;
}
.gallery ul li a:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.gallery ul li a:hover:after {
  opacity: 1;
}
.port {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
 

  padding-top: 150px;
  z-index: 1000;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.port img {
  width: 50%;
  padding-right: 5%;
}
.port .description {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto;
  font-family: 'lato';
  font-size: 20px;
  color: #ffffff;
}
.port h1 {
  font-size: 35px;
  color: #fbe2d4;
  background: url("http://www.julie-lavergne.com/img/common/trame.png");
  padding: 15px;
}
.port > * {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.port.item_open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.port > * {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.close {
  width: 100px;
  height: 100px;
  background: url("http://i57.tinypic.com/6e15lj.png") no-repeat center;
  right: 2%;
  top: -20px;
  opacity: 1;
  z-index: 1000;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: absolute;
  content: 'close';
}

.wrapper {
  font-family: 'lato';
  color: #ffffff;
  
  position: relative;
  width: auto;
  margin: 0 auto;
  font-size: .5em;
  top: 20%;
  // height: auto;
  // padding-top: 5%;
  // top: 50%;
  // left: 50%;
  // padding-left: 50%;
  // transform: translate(-50%, -50%);
  // padding: 1.2em;
  // font-size: .5em;
  
  // background:url("http://www.julie-lavergne.com/img/common/trame.png");
}

.wrapper h1 {
  font-family: futura;
  letter-spacing:2px;
  text-transform: uppercase;
  border-bottom: 2px solid;
  width: 50%;
  padding-bottom: 2%;
}



// .item_open .close {
//   opacity: 1;
//   top: 0px;
//   -webkit-transition: all 0.3s ease-in-out;
//   -moz-transition: all 0.3s ease-in-out;
//   transition: all 0.3s ease-in-out;
//   z-index: 100;
// }




